@{
    ViewBag.Title = "Administración de Usuarios";
    Layout = "~/Shared/Views/_Layout_2.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    
    </div>
</body>
</html>
