<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Tda024ProdDBConnectionString" connectionString="Data Source=192.168.128.37;Initial Catalog=Tda024ProdDB;User ID=dbotienda;Password=grabar" providerName="System.Data.SqlClient" />
    <!--<add name="GestionRMC" connectionString="Data Source=DESAOPER;Initial Catalog=CompCorpSICProdDB;User ID=findia;Password=SIC2000" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="IdNumAplicacion" value="3" />
    <add key="IdNumCtlSubAplic" value="1" />
    <add key="AmbienteSC" value="Des" />
    <add key="noescorrecta" value="RABhAHQAYQBiAGEAcwBlAD0AQQBkAG0AaQBuAFUAcwB1AGEAcgBpAG8AcwA7AFMAZQByAHYAZQByAD0AKABsAG8AYwBhAGwAKQBcAFMAUQBMAEUAWABQAFIARQBTAFMAOwBJAG4AdABlAGcAcgBhAHQAZQBkACAAUwBlAGMAdQByAGkAdAB5AD0AUwBTAFAASQA=" />
    <!--<add key="Des" value="RABhAHQAYQAgAFMAbwB1AHIAYwBlAD0AMQA5ADIALgAxADYAOAAuADEAMgA4AC4AMwA3ADsAIABJAG4AaQB0AGkAYQBsACAAQwBhAHQAYQBsAG8AZwA9AFQAZABhADAAMgA0AFAAcgBvAGQARABCADsAIABVAHMAZQByACAASQBkAD0AZABiAG8AdABpAGUAbgBkAGEAOwAgAFAAYQBzAHMAdwBvAHIAZAA9AGcAcgBhAGIAYQByADsA" />-->
    <!-- <add key="abc" value="Data Source=192.168.128.37;Initial Catalog=Tda024ProdDB;Integrated Security=SSPI; User ID=dbotienda;Password=grabar" />-->
   <!-- anterior <add key="QA" value="RABhAHQAYQAgAFMAbwB1AHIAYwBlAD0AMQA5ADIALgAxADYAOAAuADEAMgA4AC4AMwA3ADsAIABJAG4AaQB0AGkAYQBsACAAQwBhAHQAYQBsAG8AZwA9AFQAZABhADAAMgA0AFAAcgBvAGQARABCADsAIABVAHMAZQByACAASQBkAD0AZABiAG8AdABpAGUAbgBkAGEAOwAgAFAAYQBzAHMAdwBvAHIAZAA9AGcAcgBhAGIAYQByADsA" />
    -->
    <add key="QA" value="RABhAHQAYQAgAFMAbwB1AHIAYwBlAD0AVABkAGEAUQBBAEwAZQBnAFMAQQBQADMAMwA3ADsAIABJAG4AaQB0AGkAYQBsACAAQwBhAHQAYQBsAG8AZwA9AFQAZABhADAAMgA0AFAAcgBvAGQARABCADsAIABVAHMAZQByACAASQBkAD0AZABiAG8AdABpAGUAbgBkAGEAOwAgAFAAYQBzAHMAdwBvAHIAZAA9AEcAcgBhAGIAYQByADsA" />
    <add key="Login" value="TABvAGcAaQBuAFEAQQA=" />
    <add key="Prod" value="RABhAHQAYQAgAFMAbwB1AHIAYwBlAD0AMQA5ADIALgAxADYAOAAuADEAMgA4AC4AMwA3ADsAIABJAG4AaQB0AGkAYQBsACAAQwBhAHQAYQBsAG8AZwA9AFQAZABhADAAMgA0AFAAcgBvAGQARABCADsAIABVAHMAZQByACAASQBkAD0AZABiAG8AdABpAGUAbgBkAGEAOwAgAFAAYQBzAHMAdwBvAHIAZAA9AGcAcgBhAGIAYQByADsA" />
    <add key="LDAP" value="LDAP://192.168.128.44" />
    <add key="Domain" value="soriana.com" />
    <add key="userAD" value="srvaccesotienda" />
    <add key="passAD" value="WrUyU3E=aZu?" />
    <add key="idSistema" value="2" />
    <add key="defaultPage" value="bQBlAG4AdQA=" />
    <!--
    <add key="srvrName" value="aAB0AHQAcAA6AC8ALwBsAG8AYwBhAGwAaABvAHMAdAA6ADQANwAxADAALwA="/>-->
    <add key="srvrName" value="aAB0AHQAcAA6AC8ALwB0AGQAYQBxAGEAbABlAGcAcwBhAHAAMwAzADcALwA=" />
    <add key="NombreSitio" value="QQBwAGEAcgB0AGEAZABvAHMA" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />

    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
  </system.web>
  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.Optimization" />
        <add namespace="WebMvc" />
        <add namespace="Forloop.HtmlHelpers" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <system.webServer>
    <handlers>
      <remove name="BlockViewHandler" />
      <add name="BlockViewHandler" path="*.cshtml" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    <httpErrors errorMode="Detailed" />
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>

  <!-- Remaining web.config sections go here. -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>