<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Tda024ProdDBConnectionString" connectionString="Data Source=192.168.128.37;Initial Catalog=Tda024ProdDB;User ID=dbotienda;Password=grabar" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- seccion de Conexion a base de datos-->
    <add key="AmbienteSC" value="DesNTC" />
    <add key="flagTypeConection" value="N" />
    <add key="DesTC" value="Data Source={0}; Initial Catalog={1}; Trusted_Connection=True;" />
    <add key="DesNTC" value="Data Source={0}; Initial Catalog={1}; User Id={2}; Password={3};" />
    <add key="QA" value="Data Source=192.168.128.37; Initial Catalog=Tda366ProdDB; User Id=dbotienda; Password=grabar;" />
    <add key="Prod" value="" />

    <add key="DataSoruce_cs" value="DESARROOPER" />
    <add key="InitialCatalog_cs" value="Tda024ProdDB"/>
    <add key="User_cs" value="dbotienda" />
    <add key="Pass_cs" value="ZwByAGEAYgBhAHIA" /> 

    <!--<add key="DataSoruce_cs" value="tdasrv441" />
    <add key="InitialCatalog_cs" value="Tda441ProdDB" />
    <add key="User_cs" value="dbotienda" />
    <add key="Pass_cs" value="RwByAGEAYgBhAHIA" />--> 
    
    <!-- seccion de Configuracion de Seguridad por Aplicacion-->
    <add key="HomeLogin" value="Login/Login/Menu_Principal" />
    <add key="Login" value="Login" />
    <add key="defaultPage" value="menu" />
    <add key="srvrName" value="http://localhost:7710/" />
    <add key="NombreSitio" value="RemateTienda" />
    <add key="idSistema" value="23" />

    <!-- seccion de Active Directory-->
    <add key="userAD" value="cwByAHYAYQBjAGMAZQBzAG8AdABpAGUAbgBkAGEA" />
    <add key="passAD" value="VwByAFUAeQBVADMARQA9AGEAWgB1AD8A" />
    <add key="LDAP" value="LDAP://192.168.128.44" />
    <add key="Domain" value="soriana.com" />

    <!-- seccion del log -->
    <add key="respaldoLogin" value="C:\LogMermas\RespaldoApiServicios\" />
    <add key="bitacoraLogin" value="C:\LogMermas\BitacoraApiServicios\" />
    <add key="logerLogin" value="C:\LogMermas\LogerApiServicios\" />
    <add key="flagActivedLog" value="Y" />

  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation targetFramework="4.5" debug="true" />
    <httpRuntime targetFramework="4.5" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
  </system.web>
  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.Optimization" />
        <add namespace="WebMvc" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <system.webServer>
    <handlers>
      <remove name="BlockViewHandler" />
      <add name="BlockViewHandler" path="*.cshtml" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    <httpErrors errorMode="Detailed" />
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <!-- Remaining web.config sections go here. -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: {86053E44-487B-43F3-8F62-94848EC0BCBA}-->